
@{
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.Title = "Jugar";
}

@section scripts{

    <script type="text/javascript" src="../javascripts/redips-drag-min.js"></script>
    <script type="text/javascript" src="../javascripts/script1.js"></script>
    <script type="text/javascript" src="../javascripts/Colspan.js"></script>
    <script type="text/javascript" src="../javascripts/redips-table-min.js"></script>

}

<div id="main-container">
    <!-- tables inside this DIV could have draggable content -->
    <div id="redips-drag">

        <div id="left2" align="center">
            <label for='name' id='name'>@Session["Usuario"]</label>
            <br>
            <img src="~/Upload/Perfil/fondo2.jpg" alt="Sample Image" width="200px" />
            <br>
            <label for='name' id='name'>Tablero: 10x10</label>
            <br>
            <label for='name' id='name'>Disparos: 2</label>
            <br><br>
            <table id="hk" class="Tabla_naranaja">
                <tbody>
                    <tr><td>Escudo</td></tr>
                </tbody>
            </table>
        </div>
        <!-- left container -->
        <div id="left2">
            <table id="table1" class="Tabla_naranaja">
                <colgroup>
                    <col width="100" height="100" />
                </colgroup>
                <tbody>
                    <!-- clone 2 elements + last element -->
                    <tr><td class="dark"><div id="a" class="redips-drag green redips-clone  climit1_1">A</div></td></tr>
                    <tr><td class="dark"><div id="b" class="redips-drag green redips-clone  climit1_1">B</div></td></tr>
                    <tr><td class="dark"><div id="c" class="redips-drag green redips-clone  climit1_2">C</div></td></tr>
                    <tr><td class="dark"><div id="d" class="redips-drag green redips-clone  climit1_2">D</div></td></tr>
                </tbody>
            </table>
        </div><!-- left container -->
        <!-- right container -->
        <div id="right">
            <table id="table2" class="Tabla_naranaja">
                <colgroup>
                    <col width="100" height="100" />
                    <col width="100" />
                    <col width="100" />
                    <col width="100" />
                </colgroup>
                <tbody>
                    <tr>
                        <td id="tableCellID"></td>
                        <td></td>
                        <td></td>
                        <td class="upper-right"></td>
                    </tr>
                    <tr>
                        <div id="xc0" class="redips-drag green" style="border-style: none; cursor: auto;">X</div>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th></th>
                    </tr>
                    <tr>
                        <td class="lower-left"></td>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div><!-- right container -->
    </div><!-- drag container -->
</div><!-- main container -->
