@helper AyudaCargarArchivos(){

    <script type="text/javascript" src="~/javascripts/ObtenerRuta.js"></script>
    <script type="text/javascript" data-main="/Scripts/main" src="~/Scripts/require.js"></script>

    <div class="upload">

        <div id="dragndropimage" class="uploadimage-dragndrop">
            <label>Imagen: DragNDrop</label>
            <div class="uploadimage-input">
                <input type="file" name="uploadFiles" id="upload-input" />
            </div>
        </div>
        <div id="upload-liveuploads" data-bind="template: { name: 'template-uploads' }"></div>
        <script type="text/html" id="template-uploads">
            <div data-bind="visible: showTotalProgress()">
                <div>
                    <span data-bind="text: uploadSpeedFormatted()"></span>
                    <span data-bind="text: timeRemainingFormatted()" style="float: right;"></span>
                </div>
                <div class="uploadimage-totalprogress">
                    <div class="uploadimage-totalprogressbar" style="width: 0%;" data-bind="style: { width: totalProgress() + '%' }"></div>
                </div>
            </div>
            <div data-bind="foreach: uploads">
                <div class="uploadimage-upload" data-bind="css: { 'uploadimage-uploadcompleted': uploadCompleted() }">
                    <div class="uploadimage-fileinfo">
                        <strong data-bind="text: fileName"></strong>
                        <span data-bind="text: fileSizeFormated"></span>
                        <span class="uploadimage-progresspct" data-bind="visible: uploadProgress() < 100"><span data-bind="text: uploadSpeedFormatted()"></span></span>
                    </div>
                    <div class="uploadimage-progress">
                        <div class="uploadimage-progressbar" style="width: 0%;" data-bind="style: { width: uploadProgress() + '%' }"></div>
                    </div>
                </div>
            </div>

        </script>

     </div>
}


