@{
    Layout = "~/Views/Layout/Layout.cshtml";
    Page.Title = "Ingresar";
}


<!--La división principal de la página-->
<div class="main-box" align="center">
                    <br /><br />

                    @model MyBattlePong2.Models.InicioModel
                    @using (Html.BeginForm("Inicio", "Inicio", FormMethod.Post,
                             new { enctype = "multipart/form-data" }))
                    {

                        <p>Usuario:</p>
                        @Html.TextBoxFor(x => x.Usuario, new { @class = "input1" })
                        <br />
                        <p>Contraseña:</p>
                        @Html.PasswordFor(x => x.Contrasena, new { @class = "input1" })

                        <br /><br />
                        <input type="submit" value="Ingresar" class="boton_base" />
                        <br />}

                    <p><a href="Registrarse/Registrarse">Registrarse</a></p>
                    <br />

</div>
