@{
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.Title = "Buscar";
}

<div align="center">

    <div>
        <table class="Tabla_naranaja">
            <tr>
                <th>Usuario</th>
                <th>Tamaño de tablero</th>
                <th>Cantidad de disparos</th>
                <th>Datos Públicos</th>
                <th>Aceptar el reto</th>
            </tr>
            <tbody class="Buscar">
                @for (int j = 0; j < 50; j++)
                {
                    <tr>
                        @for (int i = 0; i < 4; i++)
                        {
                            <td>Poder</td>}
                        <td><input value="Entrar" type="submit" class="boton_base3" /></td>
                    </tr>}
            </tbody>
        </table>
    </div>
    <input type="submit" value="<-" class="boton_base" />
    <input type="submit" value="->" class="boton_base" />
    </div>


