
@{
    Layout = "~/Views/Layout/Layout.cshtml";
    Page.Title = "Ingresar";
}


<!--La división principal de la página-->
<div align="center">

        <p>Usuario1:</p>
        <input type="text" class="input1" />
        <br>
        <p>Usuario2:</p>
        <input type="text" class="input1"/>
        <p>Numero de dispositivo:</p>
        <input type="text" class="input1" />
        <br><br>
        <input type="submit" value="Ingresar" class="boton_base" />
        <br><br>
</div>