@import url(Fuentes/Belmongo/stylesheet.css);
@import url(Fuentes/kkberkbm/stylesheet.css);
@import url(Fuentes/digiffiti/stylesheet.css);

header,td,th {
	font-family: Aleo, Belmongo, digiffiti, kkberkbm;
	color: #F90;
	font-size: 24px;
	font-weight: bold;
}
header, body{
	background-color: #FFF;
	background-image: url(Images/Fondo.jpg);
	background-repeat: repeat;
	background-size: contain;
    width:auto;
    height:auto;
}

#MenuBar1 li a {
	font-family: kkberkbm;
}


#MenuBar1{
    background-color:white;
    background-size: contain;
}

#Fondo{
	background-color:white;
}

footer{
	align-content:flex-end;
    position:relative;
}

.input1{

	font-family: kkberkbm;
    background-color: #F90;
    color: white;
    font-size: 16px;
    padding:10px;
    border:solid 1px #808080;
    border-radius:5px;
    width:300px;
    height: 10px;

}

.input1:focus{
     box-shadow:0 0 15px #808080;
     color: #F90;
     background-color:#FFF;
 }

.main-box {
    background-color: #FFF;
    align-content:center;
    position:relative;

}

.main-box p, p a{
    font-family: Aleo;
    color: #808080;
    font-size: 24px;
}


   .boton_base {
	
	background-color: #F90;
	color:#fff;
	font-family:Belmongo;
	font-size:26px;
	font-weight:bold;
	height:40px;
	line-height:35px;
	width:404px;
	text-align:center;
	text-shadow:1px 1px 0px #570e09;
    margin-left:-4px;
}

   .boton_base:focus {
	
	background-color: #FFF;
	color:#F90;

}

   .Tabla_naranaja table{
    
    color: #F90;
    background-color: #FFF;
    border:ridge;

}

 .Tabla_naranaja  table, th, td {
    border: 3px solid #808080;
}

.Tabla_naranaja tbody{

    overflow: auto;
    width:auto;
	font-size:17px;
	font-family:Aleo;
	font-weight:bold;
	
}

.Tabla_naranaja tbody tr td{

    text-align:center;
    background-color:#FFF;
    color:#808080;

}

.Tabla_naranaja thead{

    width:auto;
	font-size:17px;
	font-family:Aleo;
	font-weight:bold;

}

.Tabla_naranaja thead tr th{
    
	background-color:#F90;
	text-align:center;
	color:#ffffff;
    padding:5px 5px 5px 5px;

}

h1{

    color: #808080;
    font-size:29px;
	font-family:Aleo;
	font-weight:bold;

}

h3{

    color: #570e09;
    font-size:40px;
	font-family:Aleo;
	font-weight:bold;

}

label {

    color: #F90;
    font-size:20px;
	font-family:Aleo;
	font-weight:bold;

}

h2 {

    color: #F90;
    font-size:18px;
	font-family:Aleo;
	font-weight:bold;

}

h4{

    color: #ff6a00;
    font-size:22px;
	font-family:Aleo;
	font-weight:bold;

}


.chat{

    width: 600px; 
    height: 100px; 
    overflow: scroll; 
    border: 1px solid grey;
    color: #000036;
    right:50px;
    background-color: #fff;

}

select {

    width:auto;
    background-color: #F90;
    color:#fff;
    font-family:Aleo;
    font-size:20px;

}

.centrar {

    text-align: center;
    position: center;

}

/* Upload image dialog */
.uploadimage-dragndrop { border: 2px dashed #DDD; margin: 10px 0; padding: 10px 10px; text-align: center; color: #DDD; }
.uploadimage-text { font-size: 32px; margin-bottom: 20px; }
.uploadimage-input { margin: 20px 0; }
.uploadimage-upload { background: #EEE; margin: 4px 0; }
.uploadimage-uploadcompleted { background: #d1f4ac; }
.uploadimage-fileinfo { padding: 5px; font-size: 11px; position: relative; }
.uploadimage-progresspct { position: absolute; top: 5px; right: 5px; }
.uploadimage-progress { background: #999; }
.uploadimage-progressbar { background: maroon; height: 2px; }
.uploadimage-totalprogress { background: #999; }
.uploadimage-totalprogressbar { background: #107EC2; height: 6px; }

.description { margin: 40px 0; }
