@{
    Layout = "~/Views/Layout/Layout.cshtml";
    ViewBag.Title = "Jugar";
}

@section scripts{

    <link href="~/Content/ButtonONOFF.css" rel="stylesheet" type="text/css">

}

<div align="center">

    <div id="right2" align="center">
        <div class="Buscar">
            <table class="Tabla_naranaja">
                <tr>
                    <th>Imagen</th>
                    <th>Dimensiones</th>
                    <th>Cantidad</th>
                </tr>
                <tbody>
                    @for (int j = 0; j < 10; j++)
                    {
                        <tr>
                            <td><input type="image" class="boton_base3" /></td>
                            <td><label>3 x 2</label></td>
                            <td><select> @for (int i = 0; i < 4; i++){
                                <option>@i</option>}</select>
                            </td>
                        </tr>}
                </tbody>
            </table>
        </div>
    </div>
    <div id="left2">
        <h1>Tamaño tablero: 10 x 10</h1>
        <h1>
            Cantidad de disparos:
            <select>
                @for (int i = 1; i < 11; i++)
                {
                    <option>@i</option>
                }
            </select>
        </h1>
        <br>
        <h1>Datos públicos:</h1>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
        <br><br>
        <input value="Crear" type="submit" class="boton_base" />
    </div>
   
</div>

